In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'],fill_value=0)
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [6]:
ser3.reindex(range(15), method='ffill')
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
dataframe = DataFrame(randn(25).reshape(5,5), index=['A', 'B', 'D', 'E', 'F'], columns=['clo1', 'clo2', 'col3', 'col4', 'col5'])
dataframe

       clo1      clo2      col3      col4      col5
A  0.935572  0.333595 -1.129528 -0.045610  1.517594
B  1.275812 -0.957592  1.110598 -0.681713  0.727770
D -0.494215 -1.324092  1.463397  0.557751 -0.726279
E -1.106007  0.448822 -0.490777  0.147452 -0.798235
F -0.376391 -2.032117 -1.068141  1.144635  0.275997

In [9]:
dframe2 = dataframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [10]:
dframe2

       clo1      clo2      col3      col4      col5
A  0.935572  0.333595 -1.129528 -0.045610  1.517594
B  1.275812 -0.957592  1.110598 -0.681713  0.727770
C       NaN       NaN       NaN       NaN       NaN
D -0.494215 -1.324092  1.463397  0.557751 -0.726279
E -1.106007  0.448822 -0.490777  0.147452 -0.798235
F -0.376391 -2.032117 -1.068141  1.144635  0.275997

In [11]:
new_clos = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [12]:
dframe2.reindex(columns=new_clos)

   col1  col2      col3      col4      col5  col6
A   NaN   NaN -1.129528 -0.045610  1.517594   NaN
B   NaN   NaN  1.110598 -0.681713  0.727770   NaN
C   NaN   NaN       NaN       NaN       NaN   NaN
D   NaN   NaN  1.463397  0.557751 -0.726279   NaN
E   NaN   NaN -0.490777  0.147452 -0.798235   NaN
F   NaN   NaN -1.068141  1.144635  0.275997   NaN

In [13]:
dataframe

       clo1      clo2      col3      col4      col5
A  0.935572  0.333595 -1.129528 -0.045610  1.517594
B  1.275812 -0.957592  1.110598 -0.681713  0.727770
D -0.494215 -1.324092  1.463397  0.557751 -0.726279
E -1.106007  0.448822 -0.490777  0.147452 -0.798235
F -0.376391 -2.032117 -1.068141  1.144635  0.275997

In [22]:
dataframe.ix[['A', 'B', 'D', 'E', 'F'], new_clos]
dataframe

AttributeError: 'DataFrame' object has no attribute 'ix'